backtrader
matplotlib
pandas
tushare
akshare
tiingo
yfinance
ta-lib
requests
sqlalchemy
sqlalchemy-utils
pymysql
cryptography
numpy<2.4.0
numba
optuna
optuna-dashboard
scikit-learn
plotly
kaleido

# --- 实盘平台 ---
# gm.api  # 掘金量化
# ib_insync