version: '3.8'

services:
  # === 实例 1：模拟盘 (Paper) ===
  ib-paper:
    build: .
    container_name: ib_paper
    restart: always
    stop_grace_period: 1m
    environment:
      - TWS_USERID=${IB_USER_PAPER}
      - TWS_PASSWORD=${IB_PASS_PAPER}
      - TRADING_MODE=paper
      - READ_ONLY_API=no
      - VNC_SERVER_PASSWORD=${VNC_PASS_PAPER}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      ib_net:
        # 为了安全，请使用 autossh 或 临时 ssh -N -L 5900:172.20.0.10:5900 root@IP 建立隧道，下同但注意本机端口唯一
        ipv4_address: 172.20.0.10


  # === 实例 2：实盘 1 (Live 1) ===
  ib-live1:
    build: .
    container_name: ib_live1
    restart: always
    stop_grace_period: 1m
    environment:
      - TWS_USERID=${IB_USER_LIVE1}
      - TWS_PASSWORD=${IB_PASS_LIVE1}
      - TRADING_MODE=live
      - READ_ONLY_API=no
      - VNC_SERVER_PASSWORD=${VNC_PASS_LIVE1}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      ib_net:
        ipv4_address: 172.20.0.11

  # === 实例 3：实盘 2 (Live 2) - 预留 ===
#  ib-live2:
#    build: .
#    container_name: ib_live2
#    restart: always
#    stop_grace_period: 1m
#    environment:
#      - TWS_USERID=${IB_USER_LIVE2}
#      - TWS_PASSWORD=${IB_PASS_LIVE2}
#      - TRADING_MODE=live
#      - READ_ONLY_API=no
#      - VNC_SERVER_PASSWORD=${VNC_PASS_LIVE2}
#    logging:
#          driver: "json-file"
#          options:
#            max-size: "10m"
#            max-file: "3"
#    networks:
#      ib_net:
#        ipv4_address: 172.20.0.12

networks:
  ib_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24