version: '3.8'

services:
  # === 实例 1：模拟盘 (Paper) ===
  ib-paper:
    image: ghcr.io/gnzsnz/ib-gateway:stable
    container_name: ib_paper
    restart: always
    stop_grace_period: 1m
    environment:
      - TWS_USERID=${IB_USER_PAPER}
      - TWS_PASSWORD=${IB_PASS_PAPER}
      - TRADING_MODE=paper
      - READ_ONLY_API=no
      - TWS_SETTINGS_PATH=/home/ibgateway/Jts
      - VNC_SERVER_PASSWORD=${VNC_PASS_PAPER}
      - TIME_ZONE=Asia/Hong_Kong
      - 'AUTO_RESTART_TIME=08:30 AM'
      - TWOFA_TIMEOUT_ACTION=restart
      - RELOGIN_AFTER_TWOFA_TIMEOUT=yes
      - TWOFA_EXIT_INTERVAL=600
      - BYPASS_WARNING=yes
    volumes:
      - ib_paper_jts:/home/ibgateway/Jts
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      ib_net:
        # 为了安全，请使用 autossh 或 临时 ssh -N -o ServerAliveInterval=60 -o ServerAliveCountMax=3 -L 5900:172.20.0.10:5900 root@IP 建立隧道，但注意本机端口不要冲突
        ipv4_address: 172.20.0.10


  # === 实例 2：实盘 1 (Live 1) ===
  ib-live1:
    image: ghcr.io/gnzsnz/ib-gateway:stable
    container_name: ib_live1
    restart: always
    stop_grace_period: 1m
    environment:
      - TWS_USERID=${IB_USER_LIVE1}
      - TWS_PASSWORD=${IB_PASS_LIVE1}
      - TRADING_MODE=live
      - READ_ONLY_API=no
      - TWS_SETTINGS_PATH=/home/ibgateway/Jts
      - VNC_SERVER_PASSWORD=${VNC_PASS_LIVE1}
      - TIME_ZONE=Asia/Hong_Kong
      - 'AUTO_RESTART_TIME=08:30 AM'
      - TWOFA_TIMEOUT_ACTION=restart
      - RELOGIN_AFTER_TWOFA_TIMEOUT=yes
      - TWOFA_EXIT_INTERVAL=600
      - BYPASS_WARNING=yes
    volumes:
      - ib_live1_jts:/home/ibgateway/Jts
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      ib_net:
        ipv4_address: 172.20.0.11

  # === 实例 3：实盘 2 (Live 2) - 预留 ===
#  ib-live2:
#    image: ghcr.io/gnzsnz/ib-gateway:stable
#    container_name: ib_live2
#    restart: always
#    stop_grace_period: 1m
#    environment:
#      - TWS_USERID=${IB_USER_LIVE2}
#      - TWS_PASSWORD=${IB_PASS_LIVE2}
#      - TRADING_MODE=live
#      - READ_ONLY_API=no
#      - TWS_SETTINGS_PATH=/home/ibgateway/Jts
#      - VNC_SERVER_PASSWORD=${VNC_PASS_LIVE2}
#      - TIME_ZONE=Asia/Hong_Kong
#      - 'AUTO_RESTART_TIME=08:30 AM'
#      - TWOFA_TIMEOUT_ACTION=restart
#      - RELOGIN_AFTER_TWOFA_TIMEOUT=yes
#      - TWOFA_EXIT_INTERVAL=600
#      - BYPASS_WARNING=yes
#    volumes:
#      - ib_live2_jts:/home/ibgateway/Jts
#    logging:
#          driver: "json-file"
#          options:
#            max-size: "10m"
#            max-file: "3"
#    networks:
#      ib_net:
#        ipv4_address: 172.20.0.12

volumes:
  ib_paper_jts:
  ib_live1_jts:
  ib_live2_jts:

networks:
  ib_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
